#header {

    background-color: rgb(20, 8, 0);

}

#logo {

    padding: 10px;
}

#menu {
    color: white;

    display: inline-block;
}



#content {

    background-color: rgb(255, 239, 218);
}

#intro {
    padding-top: 10px;
    text-align: center;

}

#footer {
    padding: 5px;
    background-color: rgb(20, 8, 0);;
    color: white;
    text-align: center;

}