#header {

    background-color: black;

}

#logo {

    padding: 10px;
}

#menu {
    color: white;
    
    display: inline-block;
}

ul{
text-decoration: none;

}

#content{

    background-color: rgb(255, 239, 218);
}

#footer{
padding: 5px;
    background-color: black;
    color: white;
    text-align: center;

}