#header {
    color: #FFF;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 999;
}

#logo {
    padding: 10px;
}

#logo li {

    display: inline;
    color: #FFF;
    font-size: 2em;



}

#logo ul {

    display: inline;
    word-spacing: 10px;


}

#logo a:link {
    color: #FFF;
    text-decoration: none;
}

#logo a:visited {
    text-decoration: none;
    color: #FFF;


}

#logo a:hover {
    text-decoration: none;
    color: #b3b3b3;

}

#content {

    background-color: rgb(255, 239, 218);
    padding-left: 25%;
    padding-top: 120px;
}

.product {
    padding-top: 30px;

}

.product img {

    margin-bottom: 20px;
}



a:link {
    color: black;
}

.title {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15%;
    border: solid rgb(32, 8, 1) 4px;
    padding: 10px;

}




#footer {
    padding: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;

}